<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Grupo 4" />
    <meta name="description" content="Proyecto API rest CRUD DB postgressql " />
    <meta
      name="keywords"
      content="postgressql"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.8/dist/sweetalert2.all.min.js"></script>
    <title>Series DB</title>
  </head>

  <body class="body">
    <header>
      <nav class=""></nav>
    </header>

    <main>
     <h1>APi rest to postgressql CRUD</h1>
      
    </main>

    <footer class="bg-foot text-light bg-secondary py-5 px-5"></footer>
  </body>
</html>
